<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Solutions</title>
</head>
<body>
    <h1>Bienvenidos a Tech Solutions</h1>
    <p>Innovación y tecnología al alcance de todos</p>

    <section>
        <h3>Blog o noticias</h3>
        <h5>Artículos sobre tecnología</h5>
        <p>
            <a href="https://go.gale.com/ps/i.do?id=GALE%7CA421626557&sid=googleScholar&v=2.1&it=r&linkaccess=abs&issn=16469895&p=AONE&sw=w&userGroupName=anon%7E953bcd14&aty=open-web-entry">
                Articulo 1
            </a>
            <a href="https://www.redalyc.org/journal/1815/181550959002/html/">
                Articulo 2
            </a>
            <a href="http://www.scielo.org.co/scielo.php?pid=S1909-83672020000200076&script=sci_arttext">
                Articulo 3
            </a>
        </p>
        <h5>Consejos y tutoriales</h5>
        <p>
            Practica a diario: Escribir código es la mejor manera de aprender.
        </p>
        <p>
            Define tus objetivos: Decide qué quieres lograr y qué temas quieres aprender.
        </p>
        <p>
            Elige un lenguaje de programación: Escoge uno que te permita crear código fácil de leer.
        </p>
        <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/as1opL254NA?si=vc6I_BKI7xOzenqb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ImOR0o-QHOQ?si=i1uC6vOCloS6EVR-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fBXjTu1bbcU?si=j4X1ASFUR25yXRmp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </p>

        <h5>Noticias</h5>
        <p>
            <a href="https://www.portafolio.co/noticias-economicas/programacion">Noticia 1</a>
            <a href="https://www.ituser.es/tag/programacion">Noticia 2</a>
            <a href="https://www.abc.es/tecnologia/">Noticia 3</a>
        </p>

    </section>
  
</body>
</html>